src/test/resources/integration/connectivity/connection-pooling-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="queryAndJoin">
        <try transactionalAction="ALWAYS_BEGIN">
            <teradata:delete config-ref="pooledJdbcConfig">
                <teradata:sql>delete from PLANET</teradata:sql>
            </teradata:delete>
            <set-payload value="OK" />
                <test:processor>
                    <test:callback class="org.mule.extension.db.integration.connectivity.DataSourcePoolingTestCase$JoinRequests"/>
                </test:processor>
            <error-handler>
                <on-error-continue>
                    <set-payload value="FAIL" />
                    <test:processor>
                        <test:callback class="org.mule.extension.db.integration.connectivity.DataSourcePoolingTestCase$JoinRequests"/>
                    </test:processor>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="queryAndJoinLargePoolDynamicConfig">
        <try>
            <teradata:select config-ref="largePooledJdbcDynamicConfig">
                <teradata:sql>select * from PLANET</teradata:sql>
            </teradata:select>
            <set-payload value="OK" />
            <test:processor>
                <test:callback class="org.mule.extension.db.integration.connectivity.DataSourcePoolingTestCase$JoinRequests"/>
            </test:processor>
            <error-handler>
                <on-error-continue>
                    <logger level="ERROR" message="#[payload]"/>
                    <set-payload value="FAIL" />
                    <test:processor>
                        <test:callback class="org.mule.extension.db.integration.connectivity.DataSourcePoolingTestCase$JoinRequests"/>
                    </test:processor>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="queryAndJoinPoolWithAdditionalProperties">
        <try>
            <teradata:select config-ref="poolWithAdditionalProperties">
                <teradata:sql>select * from PLANET</teradata:sql>
            </teradata:select>
            <set-payload value="OK" />
            <test:processor>
                <test:callback class="org.mule.extension.db.integration.connectivity.DataSourcePoolingTestCase$JoinRequests"/>
            </test:processor>
            <error-handler>
                <on-error-continue>
                    <logger level="ERROR" message="#[payload]"/>
                    <set-payload value="FAIL" />
                    <test:processor>
                        <test:callback class="org.mule.extension.db.integration.connectivity.DataSourcePoolingTestCase$JoinRequests"/>
                    </test:processor>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="queryAndJoinSmallPoolDynamicConnections">
        <try>
            <teradata:select config-ref="smallPoolPooledJdbcDynamicConfig">
                <teradata:sql>select * from PLANET</teradata:sql>
            </teradata:select>
            <set-payload value="OK" />
            <test:processor>
                <test:callback class="org.mule.extension.db.integration.connectivity.DataSourcePoolingTestCase$JoinRequests"/>
            </test:processor>
            <error-handler>
                <on-error-continue>
                    <set-payload value="FAIL" />
                    <test:processor>
                        <test:callback class="org.mule.extension.db.integration.connectivity.DataSourcePoolingTestCase$JoinRequests"/>
                    </test:processor>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="queryAndJoinSmallPoolConnections">
        <try transactionalAction="ALWAYS_BEGIN">
            <teradata:delete config-ref="smallPoolPooledJdbcConfig">
                <teradata:sql>delete from PLANET</teradata:sql>
            </teradata:delete>
            <set-payload value="OK" />
            <test:processor>
                <test:callback class="org.mule.extension.db.integration.connectivity.DataSourcePoolingTestCase$JoinRequests"/>
            </test:processor>
            <error-handler>
                <on-error-continue>
                    <set-payload value="FAIL" />
                    <test:processor>
                        <test:callback class="org.mule.extension.db.integration.connectivity.DataSourcePoolingTestCase$JoinRequests"/>
                    </test:processor>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="waitForever">
        <try transactionalAction="ALWAYS_BEGIN">
            <teradata:delete config-ref="waitForeverJdbcConfig">
                <teradata:sql>delete from PLANET</teradata:sql>
            </teradata:delete>
            <set-payload value="OK" />
            <test:processor>
                <test:callback class="org.mule.extension.db.integration.connectivity.DataSourcePoolingTestCase$JoinRequests"/>
            </test:processor>
        </try>
    </flow>
</mule>
