src/test/resources/integration/select/select-single-query.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="selectSingleRecord">
        <teradata:query-single config-ref="dbConfig">
           <teradata:sql>SELECT ID, NAME, PLANET_POS from PLANET WHERE NAME = :name</teradata:sql>
           <teradata:input-parameters>#[{name: vars.name}]</teradata:input-parameters>
        </teradata:query-single>
    </flow>

    <flow name="selectSingleRecordWithConnectionPool">
        <set-variable variableName="planetCollection" value="#[[]]" />

        <foreach collection="#[1 to vars.iterations]" >
          <teradata:query-single config-ref="dbConfigWithPooling">
             <teradata:sql>#["SELECT ID, NAME, PLANET_POS FROM PLANET WHERE NAME = :name"]</teradata:sql>
             <teradata:input-parameters>#[{name: vars.name}]</teradata:input-parameters>
          </teradata:query-single>

          <set-variable variableName="planetCollection" value="#[vars.planetCollection ++ [payload]]" />
        </foreach>
    
        <set-payload value="#[vars.planetCollection]" />
    </flow>

    <flow name="querySingleWithNoRecords">
        <teradata:query-single config-ref="dbConfig">
            <teradata:sql>#["SELECT ID, NAME, PLANET_POS FROM PLANET WHERE NAME = :name"]</teradata:sql>
            <teradata:input-parameters>#[{name: 'ALPHA CENTAURI'}]</teradata:input-parameters>
        </teradata:query-single>
    </flow>

    <flow name="querySingleWithManyRecordsReturnsOnlyOne">
        <teradata:query-single config-ref="dbConfigWithPooling">
            <teradata:sql>#["SELECT NAME FROM PLANET"]</teradata:sql>
        </teradata:query-single>
    </flow>

    <flow name="querySingleWithRecordWithClobField">
        <teradata:stored-procedure config-ref="dbConfigWithPooling">
            <teradata:sql>{ call updatePlanetDescription(:name, :description) }</teradata:sql>
            <teradata:parameter-types>
                <teradata:parameter-type key="description" type="CLOB" />
            </teradata:parameter-types>
            <teradata:input-parameters>
                #[{'name' : vars.name, 'description' : payload}]
            </teradata:input-parameters>
        </teradata:stored-procedure>

        <teradata:query-single config-ref="dbConfigWithPooling">
            <teradata:sql>#["SELECT DESCRIPTION FROM PLANET WHERE NAME = :name"]</teradata:sql>
            <teradata:input-parameters>
                #[{'name' : vars.name }]
            </teradata:input-parameters>
        </teradata:query-single>
    </flow>

    <flow name="querySingleWithRecordWithBlobField">
        <teradata:update config-ref="dbConfigWithPooling">
            <teradata:sql>#["UPDATE PLANET SET PICTURE = :picture WHERE NAME = :name"]</teradata:sql>
            <teradata:input-parameters>
                #[{'picture' : payload, 'name' : vars.name }]
            </teradata:input-parameters>
        </teradata:update>

        <teradata:query-single config-ref="dbConfigWithPooling">
            <teradata:sql>SELECT PICTURE FROM PLANET WHERE NAME = :name</teradata:sql>
            <teradata:input-parameters>
                #[{'name' : vars.name }]
            </teradata:input-parameters>
        </teradata:query-single>
    </flow>
</mule>