src/test/resources/integration/select/select-exception-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="selectException">
        <teradata:select config-ref="pooledJdbcConfig">
            <teradata:sql>select * from NOT_EXISTS order by ID</teradata:sql>
        </teradata:select>
    </flow>

    <flow name="selectExceptionClosesPreviousResultSets">
        <try transactionalAction="ALWAYS_BEGIN">
            <teradata:select config-ref="pooledJdbcConfig">
                <teradata:sql>select * from PLANET order by ID</teradata:sql>
            </teradata:select>
            <set-payload value="#[payload[0]]" />
            <teradata:select config-ref="pooledJdbcConfig">
                <teradata:sql>select * from NOT_EXISTS order by ID</teradata:sql>
            </teradata:select>
            <set-payload value="#[payload[0]]" />
        </try>
    </flow>
</mule>
