src/test/resources/integration/select/select-timeout-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="queryTimeout">
        <teradata:select config-ref="dbConfig" queryTimeout="1">
            <teradata:sql>#["select * from PLANET where DELAY($(payload)) = 1 order by ID"]</teradata:sql>
        </teradata:select>
        <foreach>
            <logger />
        </foreach>
    </flow>
</mule>
