src/test/resources/integration/source/row-listener-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="listenPlanets" initialState="stopped">
        <teradata:listener table="PLANET" config-ref="dbConfig">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </teradata:listener>
        <test:processor class="org.mule.extension.db.integration.source.RowListenerTestCase$CapturePayloadProcessor" />
    </flow>

    <flow name="listenPlanetsWithWaitTime" initialState="stopped">
        <teradata:listener table="PLANET" config-ref="dbConfig">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </teradata:listener>
        <test:processor class="org.mule.extension.db.integration.source.RowListenerTestCase$CapturePayloadProcessor" />
        <test:processor waitTime="5000" />
    </flow>

    <flow name="listenPlanetsWithWatermark" initialState="stopped">
        <teradata:listener table="PLANET" watermarkColumn="ID" config-ref="dbConfig">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </teradata:listener>
        <test:processor class="org.mule.extension.db.integration.source.RowListenerTestCase$CapturePayloadProcessor" />
    </flow>

    <flow name="updatePlanetDescriptionWithClobField">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call updatePlanetDescription('Venus', :description) }</teradata:sql>
            <teradata:parameter-types>
                <teradata:parameter-type key="description" type="CLOB" />
            </teradata:parameter-types>
            <teradata:input-parameters>
                #[{'description' : payload}]
            </teradata:input-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="idempotentListen" initialState="stopped">
        <teradata:listener table="PLANET" idColumn="NAME" config-ref="dbConfig">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </teradata:listener>
        <test:processor class="org.mule.extension.db.integration.source.RowListenerTestCase$CapturePayloadProcessor" />
        <test:processor waitTime="5000" />
    </flow>

</mule>
