src/test/resources/integration/storedprocedure/stored-procedure-oracle-within-package.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="magicPackageVersionOneAddMagicalNumber7">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call system.magicPackageVersionOne.addMagicalNumber(:num) }</teradata:sql>
            <teradata:in-out-parameters>
                <teradata:in-out-parameter key="num" value="10"/>
            </teradata:in-out-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="magicPackageVersionTwoAddMagicalNumber9">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call system.magicPackageVersionTwo.addMagicalNumber(:num, :name) }</teradata:sql>
            <teradata:input-parameters>
                #[{'name' : 'hearts'}]
            </teradata:input-parameters>
            <teradata:in-out-parameters>
                <teradata:in-out-parameter key="num" value="10"/>
            </teradata:in-out-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="addMagicalNumberAndACardNumber11WithStoredProcedurePackage">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call magicPackageVersionTwo.addMagicalNumberAndACard(:num, :name) }</teradata:sql>
            <teradata:input-parameters>
                #[{'name' : 'hearts'}]
            </teradata:input-parameters>
            <teradata:in-out-parameters>
                <teradata:in-out-parameter key="num" value="10"/>
            </teradata:in-out-parameters>
        </teradata:stored-procedure>
    </flow>

</mule>