src/test/resources/integration/storedprocedure/stored-procedure-streaming-returning-resultsets-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="getResultSet">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call getSplitTestRecords() }</teradata:sql>
        </teradata:stored-procedure>

        <set-variable variableName="records" value="#[[]]" mimeType="application/java"/>

        <foreach collection="#[payload.resultSet1]">
            <set-variable variableName="records" value="#[vars.records ++ [payload]]" mimeType="application/java"/>
        </foreach>

        <foreach collection="#[payload.resultSet2]">
            <set-variable variableName="records" value="#[vars.records ++ [payload]]" mimeType="application/java"/>
        </foreach>

        <set-payload value="#[vars.records]"/>
    </flow>
</mule>
