src/test/resources/integration/storedprocedure/stored-procedure-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="inOutParameterWithoutSpaceBeforeCall">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{call doubleMyInt(:myInt) }</teradata:sql>
            <teradata:in-out-parameters>
                <teradata:in-out-parameter key="myInt" value="3"/>
            </teradata:in-out-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="inOutParameter">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call doubleMyInt(:myInt) }</teradata:sql>
            <teradata:in-out-parameters>
                <teradata:in-out-parameter key="myInt" value="3"/>
            </teradata:in-out-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="outParam">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ CALL countTestRecords(:count) }</teradata:sql>
            <teradata:output-parameters>
                <teradata:output-parameter key="count"/>
            </teradata:output-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="multiplyInts">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call multiplyInts(:int1, :int2, :result1, :int3, :result2) }</teradata:sql>
            <teradata:input-parameters>
                #[{
                    'int1' : 3,
                    'int2' : 4,
                    'int3' : 5
                }]
            </teradata:input-parameters>
            <teradata:output-parameters>
                <teradata:output-parameter key="result1"/>
                <teradata:output-parameter key="result2"/>
            </teradata:output-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="returnNullValue">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call returnNullValue(:s1, :s2, :result) }</teradata:sql>
            <teradata:input-parameters>
                #[{
                's1' : 'foo',
                's2' : 'bar'
                }]
            </teradata:input-parameters>
            <teradata:output-parameters>
                <teradata:output-parameter key="result"/>
            </teradata:output-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="concatenateStrings">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call concatenateStrings(:s1, :s2, :result) }</teradata:sql>
            <teradata:input-parameters>
                #[{
                    's1' : 'foo',
                    's2' : 'bar'
                }]
            </teradata:input-parameters>
            <teradata:output-parameters>
                <teradata:output-parameter key="result"/>
            </teradata:output-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="callNotExistingStoredProcedureWithAnArgument">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ CALL doyouexists(:name) }</teradata:sql>
            <teradata:input-parameters>
                #[{ 'name' : 'mrstoredprocedure' }]
            </teradata:input-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="addOne">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call mathFunction.addOne(:num) }</teradata:sql>
            <teradata:in-out-parameters>
                <teradata:in-out-parameter key="num" value="6"/>
            </teradata:in-out-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="callProcedureFormattedDate">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call concatStringDate(:date, :text, :result) }</teradata:sql>
            <teradata:input-parameters>
                <![CDATA[#[%dw 2.0
                  output application/json
                  fun format(d: DateTime) = d as String {format: "yyyy-MM-dd"}
                  ---
                  {'date': format(|2019-10-31T13:00:00.000Z|),'text': 'today is '}
                ]]]>
            </teradata:input-parameters>
            <teradata:output-parameters>
                <teradata:output-parameter key="result" type="VARCHAR"></teradata:output-parameter>
            </teradata:output-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="callProcedureFormattedTimestamp">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call concatStringTimestamp(:text, :timestamp, :result) }</teradata:sql>
            <teradata:input-parameters>
                <![CDATA[#[%dw 2.0
                  output application/json
                  fun format(d: DateTime) = d as String {format: "yyyy-MM-dd HH:mm:ss"}
                  ---
                  {'timestamp': format(|2019-10-31T13:00:00.000Z|), 'text': 'today is '}
                ]]]>
            </teradata:input-parameters>
            <teradata:output-parameters>
                <teradata:output-parameter key="result" type="VARCHAR"></teradata:output-parameter>
            </teradata:output-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="callProcedureMultipleParameters">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call getReducedBiography(:name, :birth_date, :place_birth, :died, :place_death, :profession, :alma_mater, :nationality, :children, :spouse, :mother, :father, :bio, :result) }</teradata:sql>
            <teradata:input-parameters>
                <![CDATA[#[%dw 2.0
                     output application/json
                     fun formatDateTime(d: DateTime) = d as String {format: "yyyy-MM-dd"}
                     fun formatTimeStamp(d: DateTime) = d as String {format: "yyyy-MM-dd HH:mm:ss"}
                     ---
                     {
                       'name': 'Dorothy Johnson Vaughan',
                       'birth_date': formatDateTime(|1910-09-20T13:00:00.000Z|),
                       'place_birth': 'Kansas City, Missouri',
                       'died': formatTimeStamp(|2008-11-10T13:00:00.000Z|),
                       'place_death': 'Hampton, Virginia',
                       'profession': 'Mathematician',
                       'alma_mater': 'Wilberforce University',
                       'nationality': 'American',
                       'children': 6,
                       'spouse': 'Howard Vaughan',
                       'mother': 'Annie Johnson',
                       'father': 'Leonard Johnson',
                       'bio': 'In 1943, Vaughan began a 28-year-career as a mathematician and programmer at Langley Research Center, in which she specialized in calculations for flight paths, the Scout Project, and FORTRAN computer programming. Her career in this field kicked off during the height of World War II. She came to the Langley Memorial Aeronautical Laboratory thinking that it would be a temporary war job. One of her children later worked at NASA.'
                     }
                ]]]>
            </teradata:input-parameters>
            <teradata:output-parameters>
                <teradata:output-parameter key="result" type="VARCHAR"></teradata:output-parameter>
            </teradata:output-parameters>
        </teradata:stored-procedure>
    </flow>
    
    <flow name="addOneInputParameterWithTypedConfigured">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call mathFunction.addOne(:num) }</teradata:sql>
            <teradata:parameter-types >
                <teradata:parameter-type key="num" type="INTEGER" />
            </teradata:parameter-types>
            <teradata:in-out-parameters>
                <teradata:in-out-parameter key="num" value="6"/>
            </teradata:in-out-parameters>
        </teradata:stored-procedure>
    </flow>

</mule>
