src/test/resources/integration/storedprocedure/stored-procedure-metadata-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="storedOutputMetadata">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ CALL countTestRecords(:count) }</teradata:sql>
            <teradata:output-parameters>
                <teradata:output-parameter key="count"/>
            </teradata:output-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="storedMixedParametersInputMetadata">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call updatePlanetDescription('hardcoded', :description) }</teradata:sql>
            <teradata:input-parameters>
                #[{
                'description' : 'descriptionParamValue',
                }]
            </teradata:input-parameters>
        </teradata:stored-procedure>
    </flow>

    <flow name="multiplyIntsMetadata">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call multiplyInts(:int1, :int2, :result1, :int3, :result2) }</teradata:sql>
            <teradata:input-parameters>
                #[{
                'int1' : 3,
                'int2' : 4,
                'int3' : 5
                }]
            </teradata:input-parameters>
            <teradata:output-parameters>
                <teradata:output-parameter key="result1"/>
                <teradata:output-parameter key="result2"/>
            </teradata:output-parameters>
        </teradata:stored-procedure>
    </flow>

</mule>
