src/test/resources/integration/storedprocedure/stored-procedure-clob-inout-param-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="clobInoutParameter" >
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:sql>{ call getSpanishLanguageSample(:languageSample) }</teradata:sql>
            <teradata:in-out-parameters>
                <teradata:in-out-parameter key="languageSample" value="#[payload]" />
            </teradata:in-out-parameters>
        </teradata:stored-procedure>
        <set-payload value="#[output application/java --- payload.language]" />
    </flow>

</mule>

