src/test/resources/integration/storedprocedure/stored-procedure-udt-array-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="returnsDefaultArrayValue">
            <teradata:stored-procedure config-ref="dbConfig">
                <teradata:sql>{ CALL getZipCodes('Southwest', :out) }</teradata:sql>
                <teradata:output-parameters>
                    <teradata:output-parameter key="out" customType="ZIPARRAY"/>
                </teradata:output-parameters>
            </teradata:stored-procedure>
        <set-payload value="#[payload.out]"/>

    </flow>

    <flow name="returnsCustomArrayValue">
            <teradata:stored-procedure config-ref="dbConfig">
                <teradata:sql>{ CALL getContactDetails('Contact1', :out) }</teradata:sql>
                <teradata:output-parameters>
                    <teradata:output-parameter key="out" customType="CONTACT_DETAILS_ARRAY"/>
                </teradata:output-parameters>
            </teradata:stored-procedure>
            <set-payload value="#[payload.out]"/>
    </flow>
</mule>
