src/test/resources/integration/storedprocedure/stored-procedure-returning-connections.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="storedProcedureReturnsConnectionsWhenNoStreamNorTransaction">
        <foreach collection="#[1 to 25]">
            <teradata:stored-procedure config-ref="dbConfigWithPooling">
                <teradata:sql>{ call updatePlanetDescription('Venus', :description) }</teradata:sql>
                <teradata:parameter-types>
                    <teradata:parameter-type key="description" type="CLOB" />
                </teradata:parameter-types>
                <teradata:input-parameters>
                    #[{'description' : vars.rootMessage.payload}]
                </teradata:input-parameters>
            </teradata:stored-procedure>
        </foreach>
        <set-payload value="#['CYCLED SUCCESSFULLY']" />
        <set-payload value="#[output application/java --- payload as String]"/>
        <error-handler >
            <on-error-continue enableNotifications="true" logException="true" type="teradata:CONNECTIVITY">
                <set-payload value="#[error.errorType.identifier]"/>
            </on-error-continue>
        </error-handler>
    </flow>
</mule>
