src/it/tita/src/test/resources/insert-oracle-sys-xmltype-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    <configuration-properties file="${applicationsConfigProperties}"/>

    <api-gateway:autodiscovery apiId="${api1}" flowRef="oracleXmlTypeInsertTest"/>

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}" protocol="HTTP"/>
    </http:listener-config>

    <teradata:config name="Database_Config">
        <teradata:oracle-connection host="localhost" port="${db.port}" user="system" password="oracle" serviceName="XEPDB1"/>
    </teradata:config>

    <flow name="oracleXmlTypeInsertTest">
        <http:listener path="/test-insert" config-ref="listenerConfig"/>

        <try>
            <teradata:execute-script config-ref="Database_Config">
                <teradata:sql><![CDATA[DROP TABLE XMLTest]]></teradata:sql>
            </teradata:execute-script>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="false">
                </on-error-continue>
            </error-handler>
        </try>
        <teradata:execute-ddl config-ref="Database_Config">
            <teradata:sql><![CDATA[CREATE TABLE XMLTEST (ID NUMBER, PUBDATA XMLTYPE)]]></teradata:sql>
        </teradata:execute-ddl>

        <set-variable value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;note&gt;&#10;&lt;to&gt;Bob&lt;/to&gt;&#10;&lt;from&gt;Alice&lt;/from&gt; &#10;&lt;heading&gt;Reminder&lt;/heading&gt;&#10;&lt;body&gt;Don't forget me this weekend!&lt;/body&gt;&#10;&lt;/note&gt;" variableName="xmlVar" mimeType="text/plain"/>
        <teradata:insert config-ref="Database_Config">
            <teradata:sql>
                INSERT INTO XMLTEST (ID, PUBDATA) VALUES (1, :description)
            </teradata:sql>
            <teradata:input-parameters>
                #[
                {'description' : vars.xmlVar}
                ]
            </teradata:input-parameters>
        </teradata:insert>
    </flow>

</mule>