src/it/tita/src/test/resources/stored-procedure-oracle-reftype-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    <configuration-properties file="${applicationsConfigProperties}"/>

    <api-gateway:autodiscovery apiId="${api1}" flowRef="oraclesRefTypeTest"/>

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}" protocol="HTTP"/>
    </http:listener-config>

    <teradata:config name="Database_Config">
        <teradata:oracle-connection host="localhost" port="${db.port}" user="system" password="oracle" serviceName="XEPDB1"/>
    </teradata:config>

    <flow name="oraclesRefTypeTest">
        <http:listener path="/test-cursor-ref" config-ref="listenerConfig"/>

        <try>
            <teradata:execute-script config-ref="Database_Config">
                <teradata:sql><![CDATA[DROP TABLE TEST_MESSAGE]]></teradata:sql>
            </teradata:execute-script>

            <error-handler>
                <on-error-continue enableNotifications="true" logException="false">
                </on-error-continue>
            </error-handler>
        </try>

        <try>
            <teradata:execute-ddl config-ref="Database_Config">
                <teradata:sql><![CDATA[CREATE TABLE TEST_MESSAGE(MSG_ID NUMBER(19) GENERATED BY DEFAULT AS IDENTITY ( START WITH 1 NOCACHE ) NOT NULL, STATE varchar2(255), MSG NUMBER(1))]]></teradata:sql>
            </teradata:execute-ddl>

            <teradata:insert config-ref="Database_Config">
                <teradata:sql ><![CDATA[INSERT INTO TEST_MESSAGE (STATE, MSG) values(:val1, :val2)]]></teradata:sql>
                <teradata:input-parameters ><![CDATA[#[{
	"val1": "SENT",
	"val2": 8
}]]]></teradata:input-parameters>
            </teradata:insert>

            <teradata:execute-ddl config-ref="Database_Config">
                <teradata:sql><![CDATA[CREATE OR REPLACE PROCEDURE GET_MESSAGE_BY_ID(pMsgId IN NUMBER, cur OUT SYS_REFCURSOR) IS
    BEGIN
      OPEN cur FOR
      SELECT * FROM
        TEST_MESSAGE MH
      WHERE
        MH.MSG_ID = pMsgId;
    END;]]>
                </teradata:sql>
            </teradata:execute-ddl>

            <error-handler>
                <on-error-continue enableNotifications="true" logException="true">
                    <set-payload value='#["ERROR Creating Stored Procedure -----&gt;" ++ "Error Description: " ++ error.description ++ "; Error errorType: " ++ error.errorType.identifier]'/>
                </on-error-continue>
            </error-handler>
        </try>

        <try>
            <teradata:stored-procedure config-ref="Database_Config">
                <teradata:sql><![CDATA[{ call GET_MESSAGE_BY_ID(:msgId, :out) }]]></teradata:sql>
                <teradata:input-parameters><![CDATA[#[msgId : 1]]]></teradata:input-parameters>
                <teradata:output-parameters>
                    <teradata:output-parameter key="out" type="REF_CURSOR" />
                </teradata:output-parameters>
            </teradata:stored-procedure>

            <set-payload value="#[%dw 2.0&#10;                output application/json&#10;                ---&#10;                {&#10;                    id: payload.out[0].MSG_ID,&#10;                    state: payload.out[0].STATE,&#10;                    msg: payload.out[0].MSG&#10;            }]"/>


            <error-handler>
                <on-error-continue enableNotifications="true" logException="true">
                    <set-payload value='#["ERROR-----&gt;" ++ "Error Description: " ++ error.description ++ "; Error errorType: " ++ error.errorType.identifier]'/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

</mule>