src/it/tita/src/test/resources/stored-procedure-oracle-xmltype-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    <configuration-properties file="${applicationsConfigProperties}"/>

    <api-gateway:autodiscovery apiId="${api1}" flowRef="oraclesXmlTypeTest"/>

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}" protocol="HTTP"/>
    </http:listener-config>

    <teradata:config name="Database_Config">
        <teradata:oracle-connection host="localhost" port="${db.port}" user="system" password="oracle" serviceName="XEPDB1"/>
    </teradata:config>

    <flow name="oraclesXmlTypeTest">
        <http:listener path="/test" config-ref="listenerConfig"/>

        <try>
            <teradata:execute-script config-ref="Database_Config">
                <teradata:sql><![CDATA[DROP TABLE ALIEN]]></teradata:sql>
            </teradata:execute-script>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="false">
                </on-error-continue>
            </error-handler>
        </try>
        <teradata:execute-ddl config-ref="Database_Config">
            <teradata:sql><![CDATA[CREATE TABLE ALIEN(NAME varchar2(255), DESCRIPTION XMLTYPE)]]></teradata:sql>
        </teradata:execute-ddl>
        <teradata:execute-ddl config-ref="Database_Config">
            <teradata:sql><![CDATA[CREATE OR REPLACE PROCEDURE insertAlienDescription(pName IN VARCHAR2, pDescription IN XMLTYPE) IS
                        BEGIN
                          INSERT INTO Alien VALUES (pName, pDescription);
                        END;]]>
            </teradata:sql>
        </teradata:execute-ddl>
        <teradata:execute-ddl config-ref="Database_Config">
            <teradata:sql><![CDATA[CREATE OR REPLACE PROCEDURE getAlienDescription(pName IN VARCHAR2, pDescription OUT XMLTYPE) IS
                            BEGIN
                              SELECT DESCRIPTION INTO pDescription FROM Alien WHERE NAME = pName;
                            END;]]>
            </teradata:sql>
        </teradata:execute-ddl>

        <set-payload mimeType="text/plain" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;note&gt;&lt;to&gt;Tove&lt;/to&gt;&lt;from&gt;Jani&lt;/from&gt;&lt;heading&gt;JULOJULOJULO&lt;/heading&gt;&lt;body&gt;Don't forget me this weekend!&lt;/body&gt;&lt;/note&gt;"/>

        <try>
            <teradata:stored-procedure config-ref="Database_Config">
                <teradata:sql><![CDATA[{ CALL insertAlienDescription(:name, :data) }]]></teradata:sql>
                <teradata:input-parameters><![CDATA[#[{
                                          "name" : "Julian",
                                          "data": payload
                                        }]]]>
                </teradata:input-parameters>
            </teradata:stored-procedure>

            <set-payload value="SUCCESS"/>

            <error-handler>
                <on-error-continue enableNotifications="true" logException="true">
                    <set-payload value='#["ERROR-----&gt;" ++ "Error Description: " ++ error.description ++ "; Error errorType: " ++ error.errorType.identifier]'/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

</mule>