src/it/tita/src/test/resources/stored-procedure-oracle-lob-foreach-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    <configuration-properties file="${applicationsConfigProperties}"/>

    <api-gateway:autodiscovery apiId="${api1}" flowRef="oracleLobForeachTest"/>

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}" protocol="HTTP"/>
    </http:listener-config>

    <teradata:config name="Database_Config">
        <teradata:oracle-connection host="localhost" port="${db.port}" user="system" password="oracle" serviceName="XEPDB1">
            <teradata:pooling-profile maxPoolSize="3" maxWait="1" />
        </teradata:oracle-connection>
    </teradata:config>

    <flow name="oracleLobForeachTest">
        <http:listener path="/test-lob-foreach" config-ref="listenerConfig"/>

        <try>
            <teradata:execute-script config-ref="Database_Config">
                <teradata:sql><![CDATA[DROP TABLE TEST_MESSAGE]]></teradata:sql>
            </teradata:execute-script>

            <error-handler>
                <on-error-continue enableNotifications="true" logException="false">
                </on-error-continue>
            </error-handler>
        </try>

        <try>
            <teradata:execute-ddl config-ref="Database_Config">
                <teradata:sql><![CDATA[CREATE TABLE TEST_MESSAGE(MSG_ID NUMBER(19) GENERATED BY DEFAULT AS IDENTITY ( START WITH 1 NOCACHE ) NOT NULL, STATE varchar2(255), MSG CLOB)]]></teradata:sql>
            </teradata:execute-ddl>

            <set-payload value='#[[&#10; {&#10; "state": "FAILED",&#10; "msg": "Hola"&#10;},&#10;{&#10; "state": "UNDELIVERED",&#10; "msg": "Hello"&#10;},&#10;{&#10; "state": "UNDELIVERED",&#10; "msg": "Hello"&#10;},&#10;{&#10; "state": "SENT",&#10; "msg": "Bye"&#10;}&#10;]]'  />

            <teradata:bulk-insert config-ref="Database_Config">
                <teradata:sql ><![CDATA[INSERT INTO TEST_MESSAGE (STATE, MSG) values(:state, :msg)]]></teradata:sql>
            </teradata:bulk-insert>

            <error-handler>
                <on-error-continue enableNotifications="true" logException="true">
                    <set-payload value='#["ERROR Initializing Database -----&gt;" ++ "Error Description: " ++ error.description ++ "; Error errorType: " ++ error.errorType.identifier]'/>
                </on-error-continue>
            </error-handler>
        </try>

        <try>
            <teradata:select config-ref="Database_Config">
                <teradata:sql ><![CDATA[select MSG_ID from TEST_MESSAGE]]></teradata:sql>
            </teradata:select>
            <foreach collection="payload.MSG_ID">
                <teradata:select config-ref="Database_Config">
                    <teradata:sql ><![CDATA[select MSG_ID, STATE, MSG
                            from TEST_MESSAGE
                            where MSG_ID=:msg_id]]>
                    </teradata:sql>
                    <teradata:input-parameters ><![CDATA[#[{'msg_id':payload}]]]></teradata:input-parameters>
                </teradata:select>
                <set-variable value='#[%dw 2.0
                        output application/json
                        ---
                        payload]'
                    variableName="out"/>
            </foreach>



            <set-payload value="#[vars.out]"/>

            <error-handler>
                <on-error-continue enableNotifications="true" logException="true">
                    <set-payload value='#["ERROR -----&gt;" ++ "Error Description: " ++ error.description ++ "; Error errorType: " ++ error.errorType.identifier]'/>
                </on-error-continue>
            </error-handler>
        </try>

    </flow>

</mule>