src/test/resources/integration/insert/bulk-insert-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="bulkInsert">
        <teradata:bulk-insert config-ref="dbConfig">
            <teradata:sql>INSERT INTO PLANET(PLANET_POS, NAME) VALUES (:planet_pos, :name)</teradata:sql>
        </teradata:bulk-insert>
    </flow>

    <flow name="bulkInsertWithOverriddenType">
        <teradata:bulk-insert config-ref="dbConfig">
            <teradata:sql>INSERT INTO PLANET(PLANET_POS, NAME) VALUES (:planet_pos, :name)</teradata:sql>
            <teradata:parameter-types>
                <teradata:parameter-type key="name" type="VARCHAR" />
                <teradata:parameter-type key="planet_pos" type="INTEGER" />
            </teradata:parameter-types>
        </teradata:bulk-insert>
    </flow>

    <flow name="bulkInsertWithUnusedParameterType">
        <teradata:bulk-insert config-ref="dbConfig">
            <teradata:sql>INSERT INTO PLANET(PLANET_POS, NAME) VALUES (:planet_pos, :name)</teradata:sql>
            <teradata:parameter-types>
                <teradata:parameter-type key="name" type="VARCHAR" />
                <teradata:parameter-type key="planet_pos" type="INTEGER" />
                <teradata:parameter-type key="unused" type="INTEGER" />
            </teradata:parameter-types>
        </teradata:bulk-insert>
    </flow>

    <flow name="bulkInsertInsideForEachScope">
        <foreach collection="#[payload]" batchSize="2">
            <teradata:bulk-insert config-ref="dbConfig">
                <teradata:sql>INSERT INTO PLANET(PLANET_POS, NAME) VALUES (:planet_pos, :name)</teradata:sql>
                <teradata:parameter-types>
                    <teradata:parameter-type key="name" type="VARCHAR" />
                    <teradata:parameter-type key="planet_pos" type="INTEGER" />
                </teradata:parameter-types>
            </teradata:bulk-insert>
        </foreach>
        <teradata:select config-ref="dbConfig">
            <teradata:sql>#["SELECT NAME from PLANET WHERE PLANET_POS >= :pos ORDER BY PLANET_POS"]</teradata:sql>
            <teradata:input-parameters>
                #[{'pos' : vars.positionOffset}]
            </teradata:input-parameters>
        </teradata:select>
    </flow>

</mule>
