src/test/resources/integration/insert/oracle/insert-nested-tables.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
        xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="insertNestedTables" >
        <teradata:insert config-ref="dbConfig">
            <teradata:sql >INSERT INTO SYSTEM.FRUITS_NESTED_TABLE (fruitId, fruits) VALUES (:id, :fruits)</teradata:sql>
            <teradata:input-parameters ><![CDATA[#[output application/java
---
{
	id: randomInt(1000),
	fruits: teradata::createArray("dbConfig", "SYSTEM.FRUIT_ORDER_CONTENTS_TABLE",
		[
			teradata::createStruct("dbConfig", "SYSTEM.FRUIT_RECORD_TYPE", [vars.id, vars.name, vars.quantity])
		]
	)
}]]]></teradata:input-parameters>
        </teradata:insert>
    </flow>

    <flow name="selectNestedTables">
        <teradata:select config-ref="dbConfig">
            <teradata:sql >SELECT * FROM SYSTEM.FRUITS_NESTED_TABLE</teradata:sql>
        </teradata:select>
    </flow>
</mule>
