src/test/resources/integration/delete/delete-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="deleteDynamic">
        <teradata:delete config-ref="dbConfig">
            <teradata:sql>#["DELETE FROM PLANET WHERE name = '$(payload)'"]</teradata:sql>
        </teradata:delete>
    </flow>

    <flow name="deleteWithNullValues">
        <teradata:delete config-ref="dbConfig">
            <teradata:sql>#["DELETE FROM PLANET WHERE name = '$(payload)'"]</teradata:sql>
            <teradata:input-parameters>
                #[null]
            </teradata:input-parameters>
        </teradata:delete>
    </flow>

    <flow name="deleteParameterized">
        <teradata:delete config-ref="dbConfig">
            <teradata:sql>DELETE FROM PLANET WHERE name = :name</teradata:sql>
            <teradata:input-parameters>
                #[{
                    'name' : payload
                }]
            </teradata:input-parameters>
        </teradata:delete>
    </flow>
</mule>
