src/test/resources/integration/update/pending/update-bulk-mode-metadata-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="updateBulkModeMetadata">
        <teradata:select config-ref="dbConfig">
            <teradata:parameterized-query>select * from PLANET</teradata:parameterized-query>
        </teradata:select>

        <teradata:update config-ref="dbConfig" bulkMode="true">
            <teradata:parameterized-query>update PLANET set NAME='Mercury' where PLANET_POS=#[payload.type]</teradata:parameterized-query>
        </teradata:update>
    </flow>
</mule>
