src/test/resources/integration/update/pending/update-bulk-input-metadata-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="updateBulkMetadataNoParams">
        <teradata:update config-ref="dbConfig" bulkMode="true">
            <teradata:parameterized-query>update Planet set PLANET_POS = 1 where name = 'Mars'</teradata:parameterized-query>
        </teradata:update>
    </flow>

    <flow name="updateBulkMetadataNotSupportedValueParams">
        <teradata:update config-ref="dbConfig" bulkMode="true">
            <teradata:parameterized-query>update Planet set PLANET_POS = #[payload.planet_pos] where name =
                #[mel:message.outboundProperties.name]
            </teradata:parameterized-query>
        </teradata:update>
    </flow>

    <flow name="updateBulkMetadataBeanParams">
        <teradata:update config-ref="dbConfig" bulkMode="true">
            <teradata:parameterized-query>update Planet set PLANET_POS = #[payload.planet_pos] where name = #[payload.name]
            </teradata:parameterized-query>
        </teradata:update>
    </flow>

    <flow name="updateBulkMetadataMapParams">
        <teradata:update config-ref="dbConfig" bulkMode="true">
            <teradata:parameterized-query>update Planet set PLANET_POS = #[payload['planet_pos']] where name = #[payload['name']]
            </teradata:parameterized-query>
        </teradata:update>
    </flow>
</mule>
