src/test/resources/integration/xa/dynamic-xa-connection-pooling-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="defaultQueryRequestResponse">
        <set-variable variableName="derbyDb" value="target/muleEmbeddedDB"/>
        <try transactionType="XA" transactionalAction="ALWAYS_BEGIN">
            <teradata:select config-ref="pooledJdbcConfig" maxRows="2">
                <teradata:sql>select * from PLANET order by ID</teradata:sql>
            </teradata:select>

            <foreach>
                <!-- This needs to processStatement a new connection -->
                <teradata:delete config-ref="pooledJdbcConfig" transactionalAction="NOT_SUPPORTED">
                    <teradata:sql>#["delete from PLANET where id = $(payload.id)"]</teradata:sql>
                </teradata:delete>
            </foreach>
        </try>
    </flow>
</mule>
