src/test/resources/integration/vendor/oracle/oracle-stored-procedure-parameterized-update-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="defaultQueryRequestResponse">
        <teradata:stored-procedure config-ref="dbConfig">
            <teradata:parameterized-query>call updateParamTestType1(:type, :updateCount1)</teradata:parameterized-query>
            <teradata:in-param name="type" value="#[payload]"/>
            <teradata:out-param name="updateCount1" type="INTEGER"/>
        </teradata:stored-procedure>
    </flow>
</mule>
