src/test/resources/integration/vendor/oracle/oracle-stored-procedure-returning-streaming-resultsets-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="defaultQueryRequestResponse">
        <teradata:stored-procedure config-ref="dbConfig" streaming="true">
            <teradata:parameterized-query>{ call getSplitTestRecords(:resultSet1, :resultSet2) }</teradata:parameterized-query>
            <teradata:out-param name="resultSet1" type="CURSOR"/>
            <teradata:out-param name="resultSet2" type="CURSOR"/>
        </teradata:stored-procedure>

        <set-variable variableName="records" value="#[[]]"/>

        <flow-ref name="processFirst" target="unused"/>
        <flow-ref name="processSecond" target="unused"/>

        <set-payload value="#[vars['records']]"/>
    </flow>

    <sub-flow name="processFirst">
        <set-payload value="#[payload.'resultSet1']"/>
        <set-variable variableName="records" value="#[vars['records'] ++ payload]"/>
    </sub-flow>

    <sub-flow name="processSecond">
        <set-payload value="#[payload.'resultSet2']"/>
        <set-variable variableName="records" value="#[vars['records'] ++ payload]"/>
    </sub-flow>
</mule>
