src/test/resources/integration/vendor/oracle/oracle-insert-xml-type-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <teradata:template-query name="testInsert">
        <teradata:parameterized-query>INSERT INTO Alien VALUES (:name, :description)</teradata:parameterized-query>
        <teradata:in-param name="name" defaultValue="#[mel:message.inboundProperties.name]" type="VARCHAR"/>
        <teradata:in-param name="description" defaultValue="#[payload]" type="XMLTYPE"/>
    </teradata:template-query>

    <flow name="insertXmlType">
        <teradata:insert config-ref="dbConfig">
            <teradata:template-query-ref name="testInsert" />
        </teradata:insert>
    </flow>

</mule>
