src/test/resources/integration/update/update-timeout-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="queryTimeout">
        <teradata:update config-ref="dbConfig" queryTimeout="1">
            <teradata:sql>#["update PLANET set NAME='Mercury' where DELAY($(payload)) = 1"]</teradata:sql>
        </teradata:update>
    </flow>
</mule>
