src/test/resources/integration/update/update-udt-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="updatesWithStruct">
        <try transactionalAction="ALWAYS_BEGIN">
            <teradata:select config-ref="dbConfig">
                <teradata:sql>select DETAILS from REGION_MANAGERS where REGION_NAME='Southwest'</teradata:sql>
            </teradata:select>

            <!-- Sets the UDT as payload-->
            <set-payload value="#[payload[0].DETAILS]"/>

            <teradata:update config-ref="dbConfig">
                <teradata:sql>update REGION_MANAGERS set DETAILS = :details where REGION_NAME = 'Northwest'</teradata:sql>
                <teradata:input-parameters>
                    #[{'details' : payload}]
                </teradata:input-parameters>
            </teradata:update>

            <teradata:select config-ref="dbConfig">
                <teradata:sql>select DETAILS from REGION_MANAGERS where REGION_NAME = 'Northwest'</teradata:sql>
            </teradata:select>

            <!--Obtains the UDT-->
            <set-payload value="#[payload[0]['DETAILS']]"/>
        </try>
    </flow>

    <flow name="updatesWithObject">
            <teradata:update config-ref="dbConfig">
                <teradata:sql>update REGION_MANAGERS set DETAILS = :details where REGION_NAME = 'Northwest'</teradata:sql>
                <teradata:parameter-types>
                    <teradata:parameter-type key="details" customType="CONTACT_DETAILS"/>
                </teradata:parameter-types>
                <teradata:input-parameters>
                    #[{'details' : payload}]
                </teradata:input-parameters>
            </teradata:update>

            <teradata:select config-ref="dbConfig">
                <teradata:sql>select DETAILS from REGION_MANAGERS where REGION_NAME = 'Northwest'</teradata:sql>
            </teradata:select>

            <!--Obtains the UDT-->
            <set-payload value="#[payload[0]['DETAILS']]"/>
    </flow>
</mule>
