src/test/resources/integration/update/update-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="update">
        <db:update config-ref="dbConfig">
            <db:sql>update PLANET set NAME='Mercury' where PLANET_POS=4</db:sql>
        </db:update>
    </flow>

    <flow name="updateWithNullValues">
        <db:update config-ref="dbConfig">
            <db:sql>update PLANET set NAME='Mercury' where PLANET_POS=4</db:sql>
            <db:input-parameters>
                #[null]
            </db:input-parameters>
        </db:update>
    </flow>

    <flow name="updateDynamic">
        <set-variable variableName="data" value="Mercury"/>
        <set-variable variableName="planet_pos" value="4"/>

        <db:update config-ref="dbConfig">
            <db:sql>#["update PLANET set NAME='$(vars.data)' where PLANET_POS=$(vars.planet_pos)"]</db:sql>
        </db:update>
    </flow>

    <flow name="updateParameterized">
        <db:update config-ref="dbConfig">
            <db:sql>update PLANET set NAME= :name where NAME='Mars'</db:sql>
            <db:input-parameters>
                #[{'name' : payload}]
            </db:input-parameters>
        </db:update>
    </flow>

    <flow name="updateBlob">
        <db:update config-ref="dbConfig">
            <db:sql>update PLANET set PICTURE = :pic where NAME='Mars'</db:sql>
            <db:input-parameters>
                #[{'pic' : payload}]
            </db:input-parameters>
        </db:update>
    </flow>

    <flow name="merge">
        <db:update config-ref="dbConfig">
            <db:sql>
                MERGE INTO PLANET p1
                USING PLANET p2
                ON (p1.Id = p2.ID)
                WHEN MATCHED
                THEN UPDATE SET p1.name = 'merged'
            </db:sql>
        </db:update>
    </flow>

    <flow name="mergeSQLSERVER">
        <db:update config-ref="dbConfig">
            <db:sql>
                MERGE INTO PLANET p1
                USING PLANET p2
                ON (p1.Id = p2.ID)
                WHEN MATCHED
                THEN UPDATE SET p1.name = 'merged';
            </db:sql>
        </db:update>
    </flow>

    <flow name="updateWithNullValue">
        <db:update config-ref="dbConfig">
            <db:sql>UPDATE PLANET SET NAME = :param where PLANET_POS = 4</db:sql>
            <db:input-parameters>#[{'param' : null}]</db:input-parameters>
        </db:update>

        <db:select config-ref="dbConfig">
            <db:sql>select * from PLANET where NAME IS NULL</db:sql>
        </db:select>
    </flow>

</mule>
