src/test/resources/integration/update/update-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="update">
        <teradata:update config-ref="dbConfig">
            <teradata:sql>update PLANET set NAME='Mercury' where PLANET_POS=4</teradata:sql>
        </teradata:update>
    </flow>

    <flow name="updateWithNullValues">
        <teradata:update config-ref="dbConfig">
            <teradata:sql>update PLANET set NAME='Mercury' where PLANET_POS=4</teradata:sql>
            <teradata:input-parameters>
                #[null]
            </teradata:input-parameters>
        </teradata:update>
    </flow>

    <flow name="updateDynamic">
        <set-variable variableName="data" value="Mercury"/>
        <set-variable variableName="planet_pos" value="4"/>

        <teradata:update config-ref="dbConfig">
            <teradata:sql>#["update PLANET set NAME='$(vars.data)' where PLANET_POS=$(vars.planet_pos)"]</teradata:sql>
        </teradata:update>
    </flow>

    <flow name="updateParameterized">
        <teradata:update config-ref="dbConfig">
            <teradata:sql>update PLANET set NAME= :name where NAME='Mars'</teradata:sql>
            <teradata:input-parameters>
                #[{'name' : payload}]
            </teradata:input-parameters>
        </teradata:update>
    </flow>

    <flow name="updateBlob">
        <teradata:update config-ref="dbConfig">
            <teradata:sql>update PLANET set PICTURE = :pic where NAME='Mars'</teradata:sql>
            <teradata:input-parameters>
                #[{'pic' : payload}]
            </teradata:input-parameters>
        </teradata:update>
    </flow>

    <flow name="merge">
        <teradata:update config-ref="dbConfig">
            <teradata:sql>
                MERGE INTO PLANET p1
                USING PLANET p2
                ON (p1.Id = p2.ID)
                WHEN MATCHED
                THEN UPDATE SET p1.name = 'merged'
            </teradata:sql>
        </teradata:update>
    </flow>

    <flow name="mergeSQLSERVER">
        <teradata:update config-ref="dbConfig">
            <teradata:sql>
                MERGE INTO PLANET p1
                USING PLANET p2
                ON (p1.Id = p2.ID)
                WHEN MATCHED
                THEN UPDATE SET p1.name = 'merged';
            </teradata:sql>
        </teradata:update>
    </flow>

    <flow name="updateWithNullValue">
        <teradata:update config-ref="dbConfig">
            <teradata:sql>UPDATE PLANET SET NAME = :param where PLANET_POS = 4</teradata:sql>
            <teradata:input-parameters>#[{'param' : null}]</teradata:input-parameters>
        </teradata:update>

        <teradata:select config-ref="dbConfig">
            <teradata:sql>select * from PLANET where NAME IS NULL</teradata:sql>
        </teradata:select>
    </flow>

</mule>
