src/test/resources/integration/update/update-udt-array-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="updatesStringArray">
        <try transactionalAction="ALWAYS_BEGIN">
            <teradata:select config-ref="dbConfig">
                <teradata:sql>select ZIPS from REGIONS where REGION_NAME='Northwest'</teradata:sql>
            </teradata:select>

            <!-- Sets the SQL array as payload-->
            <set-payload value="#[payload[0]['ZIPS']]"/>

            <teradata:update config-ref="dbConfig">
                <teradata:sql>update REGIONS set ZIPS = :zip where REGION_NAME = 'Southwest'</teradata:sql>
                <teradata:input-parameters>
                    #[{'zip' : payload}]
                </teradata:input-parameters>
            </teradata:update>

            <teradata:select config-ref="dbConfig">
                <teradata:sql>select ZIPs from REGIONS where REGION_NAME = 'Southwest'</teradata:sql>
            </teradata:select>

            <!--Obtains the java array from the array field-->
            <set-payload value="#[payload[0]['ZIPS']]"/>
        </try>
    </flow>

    <flow name="updatesStructArray">
        <try transactionalAction="ALWAYS_BEGIN">
            <teradata:select config-ref="dbConfig">
                <teradata:sql>select DETAILS from CONTACTS where CONTACT_NAME='Contact2'</teradata:sql>
            </teradata:select>

            <!-- Sets the SQL array as payload-->
            <set-payload value="#[payload[0]['DETAILS']]"/>

            <teradata:update config-ref="dbConfig">
                <teradata:sql>update contacts set DETAILS = :detail where CONTACT_NAME = 'Contact1'</teradata:sql>
                <teradata:input-parameters>
                    #[{'detail' : payload}]
                </teradata:input-parameters>
            </teradata:update>

            <teradata:select config-ref="dbConfig">
                <teradata:sql>select DETAILS from CONTACTS where CONTACT_NAME='Contact1'</teradata:sql>
            </teradata:select>

            <!--Obtains the java array from the array field-->
            <set-payload value="#[payload[0]['DETAILS']]"/>
        </try>
    </flow>
</mule>
