src/test/resources/integration/select/pending/select/select-source-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="selectCustomSource">
        <set-variable variableName="name" value="Mars"/>

        <teradata:select config-ref="dbConfig" source="#[vars.name]">
            <teradata:parameterized-query>SELECT * FROM PLANET WHERE name = #[payload]</teradata:parameterized-query>
        </teradata:select>

    </flow>
</mule>
