src/test/resources/integration/complextypes/large-object-round-trip.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd">

    <flow name="insertClobType">
        <teradata:insert config-ref="dbConfig">
            <teradata:sql>INSERT INTO PLANET(PLANET_POS, DESCRIPTION) VALUES (:id, :description)</teradata:sql>
            <teradata:input-parameters>
                #[
                {
                'id' : vars.id,
                'description' : payload
                }]
            </teradata:input-parameters>
        </teradata:insert>
    </flow>

    <flow name="selectClobType">
        <teradata:select config-ref="dbConfig">
            <teradata:sql>SELECT DESCRIPTION from PLANET where PLANET_POS = :planet_pos</teradata:sql>
            <teradata:input-parameters>
                #[
                {
                'planet_pos' : vars.planet_pos,
                }]
            </teradata:input-parameters>
        </teradata:select>
        <set-payload value="#[output text/plain --- payload[0].DESCRIPTION]"/>
    </flow>


    <flow name="insertBlobType">
        <teradata:insert config-ref="dbConfig">
            <teradata:sql>INSERT INTO PLANET(PLANET_POS, PICTURE) VALUES (:id, :picture)</teradata:sql>
            <teradata:input-parameters>
                #[
                {
                'id' : vars.id,
                'picture' : payload
                }]
            </teradata:input-parameters>
        </teradata:insert>
    </flow>

    <flow name="selectBlobType">
        <teradata:select config-ref="dbConfig">
            <teradata:sql>SELECT PICTURE from PLANET where PLANET_POS = :planet_pos</teradata:sql>
            <teradata:input-parameters>
                #[
                {
                'planet_pos' : vars.planet_pos,
                }]
            </teradata:input-parameters>
        </teradata:select>
        <set-payload value="#[payload[0].PICTURE]"/>
    </flow>

    <flow name="getLanguage">
        <teradata:select config-ref="dbConfig">
            <teradata:sql >select SAMPLE_TEXT from LANGUAGES where NAME = :language</teradata:sql>
            <teradata:input-parameters>
                #[
                    {
                        'language' : vars.languageName,
                    }
                ]
            </teradata:input-parameters>
        </teradata:select>
        <set-payload value="#[output text/plain --- payload[0].SAMPLE_TEXT]"/>
    </flow>

</mule>
